*:focus {
  outline: 0;
}

#slider {
  width:500px;
  margin-left:200px;
}

#amount {
  border: 0; 
  color: #f6931f; 
  font-weight: bold;  
}

body {
  margin: 15px;
}

.link {
  stroke: #ccc;
  stroke-opacity:0.3;
}

.node {
  cursor:move;
}

.node text {
  pointer-events: none;
  font-family: Arial, Helvetica, sans-serif;
  fill:#626262;
  text-transform: capitalize;
}

.node.fixed {
  fill: #f00;
}
